<main class="main__content_wrapper">

  <!-- Start breadcrumb section -->
  <div class="breadcrumb__section breadcrumb__bg">
      <div class="container">
          <div class="row row-cols-1">
              <div class="col">
                  <div class="breadcrumb__content text-center">
                      <ul class="breadcrumb__content--menu d-flex justify-content-center">
                          <li class="breadcrumb__content--menu__items"><a routerLink="/">Home</a></li>
                          <li class="breadcrumb__content--menu__items"><span>Return Policy</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End breadcrumb section -->

  <!-- Start privacy policy section -->
  <div class="privacy__policy--section section--padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="privacy__policy--content">
                      <h2 class="privacy__policy--content__title">Who we are</h2>
                      <p class="privacy__policy--content__desc">Our email address is: <a href="mailto:gre8.in@gmail.com">gre8.in@gmail.com</a></p>
                  </div>
                  <div class="privacy__policy--content section_2">
                      <h2 class="privacy__policy--content__title">Return in 15 days</h2>
                      <!-- <h3 class="privacy__policy--content__subtitle">Comments</h3> -->
                      <p class="privacy__policy--content__desc">100% refund for returns within 15 days. No questions asked. (Not applicable on engraved and personalized products)</p>

                      <h3 class="privacy__policy--content__subtitle">EXCHANGE is available</h3>
                      <p class="privacy__policy--content__desc">Exchange your product if size is wrong or color is different or upgrade your jewellery</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End privacy policy section -->

  <!-- Start feature section -->
 <section class="feature__section section--padding pt-0">
      <div class="container">
          <div class="feature__inner d-flex justify-content-between">
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon">
                      <img src="assets/img/other/feature1.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">Free Shipping</h2>
                      <p class="feature__content--desc">Free shipping over $100</p>
                  </div>
              </div>
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon ">
                      <img src="assets/img/other/feature2.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">Support 24/7</h2>
                      <p class="feature__content--desc">Contact us 24 hours a day</p>
                  </div>
              </div>
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon">
                      <img src="assets/img/other/feature3.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">100% Money Back</h2>
                      <p class="feature__content--desc">You have 30 days to Return</p>
                  </div>
              </div>
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon">
                      <img src="assets/img/other/feature4.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">Payment Secure</h2>
                      <p class="feature__content--desc">We ensure secure payment</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End feature section -->

</main>
