<!-- Start grid banner section -->
<section class="grid__banner--section section--padding pt-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="grid__banner--thumbnail">
          <img src="assets/img/banner/banner13.webp" alt="banner-img">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="grid__banner--content margin__left">
          <h2 class="grid__banner--title">About G8</h2>
          <p class="grid__banner--desc">G8 is a Delhi-based, multi-channel fashion brand, founded in 2020 by
            Lalhmangaihi Parte.
            Best known for its trend focused womenswear offering, G8 also has menswear.G8's collections are entirely
            designed keeping in mind the lates trends which started selling their products through WhatsApp and
            Instagram orders. G8 has received overwhelming feedbacks from the customers who are the Brand ambassadors as
            well now. After receiving positive and encouraging feedbacks, in 2023 G8 decided to reach out to wider
            audience by launching their website.</p>
            <p class="grid__banner--desc">
              The range of goods sold online  included middle-to-high-end clothing, beauty and accessories.
            </p>
          <!-- <a class="grid__banner--btn primary__btn" routerLink="/products/collections/all">SHOP NOW</a> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End grid banner section -->

<!-- Start grid banner section -->
<section class="grid__banner--section">
  <div class="container">
    <div class="row row_sm_u_reverse align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="grid__banner--content margin__left">
          <h2 class="grid__banner--title">A note from founder</h2>
          <p class="grid__banner--desc">I believe
            helping others illuminate for the
            better changed. let's keep raising
            people because as we do we light
            up each other's hence for the better world</p>
            <a class="grid__banner--btn primary__btn" routerLink="/products/collections/all">SHOP NOW</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="grid__banner--thumbnail">
          <img src="assets/img/banner/banner14.webp" alt="banner-img">
        </div>
      </div>
    </div>
  </div>
</section>
