<section class="error__section section--padding">
  <div class="container">
      <div class="row row-cols-1">
          <div class="col">
              <div class="error__content text-center">
                  <!-- <img class="error__content--img display-block mb-50" src="assets/img/other/404-thumb.webp" alt="error-img"> -->
                  <h2 class="error__content--title">Opps ! Page not found </h2>
                  <p class="error__content--desc">Sorry but the page you are looking for does not exist, have been
                    removed, name
                    changed or is temporarily unavailable.</p>
                  <a class="error__content--btn primary__btn" routerLink="/">Back To Home</a>
              </div>
          </div>
      </div>
  </div>
</section>
