<main class="main__content_wrapper">

  <!-- Start breadcrumb section -->
  <div class="breadcrumb__section breadcrumb__bg">
      <div class="container">
          <div class="row row-cols-1">
              <div class="col">
                  <div class="breadcrumb__content text-center">
                      <ul class="breadcrumb__content--menu d-flex justify-content-center">
                          <li class="breadcrumb__content--menu__items"><a routerLink="/">Home</a></li>
                          <li class="breadcrumb__content--menu__items"><span>Privacy Policy</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End breadcrumb section -->

  <!-- Start privacy policy section -->
  <div class="privacy__policy--section section--padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="privacy__policy--content">
                      <h2 class="privacy__policy--content__title">Who we are</h2>
                      <p class="privacy__policy--content__desc">Our email address is: <a href="mailto:gre8.in@gmail.com">gre8.in@gmail.com</a></p>
                  </div>
                  <div class="privacy__policy--content section_2">
                      <h2 class="privacy__policy--content__title">What personal data we collect and why we collect it</h2>
                      <p class="privacy__policy--content__desc">When you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers), email address, and phone number. But we do not store your credit card and other payment details with us. We refer to this information as “Order Information”.
                        </p>
                      <p class="privacy__policy--content__desc">When we talk about “Personal Information” in this Privacy Policy, we are talking both about Device Information and Order Information.</p>
                      <h3 class="privacy__policy--content__subtitle">HOW DO WE USE YOUR PERSONAL INFORMATION?</h3>
                      <p class="privacy__policy--content__desc">By using the Site and/or purchasing from us, you agree to allow your personal information to be used as stated below.

                        We use the Order Information that we collect generally to fulfil any orders placed through the Site (including processing your payment information, arranging for shipping, and providing you with invoices and/or order confirmations). Additionally, we use this Order Information to: <br>

                        - Communicate with you; <br>
                        - Screen our orders for potential risk or fraud; and <br>
                        - Provide you with information or advertising relating to our products or services.</p>
                      <h3 class="privacy__policy--content__subtitle">CONTACT US</h3>
                      <p class="privacy__policy--content__desc">For more information about our privacy practices, if you have questions, or if you would like to make a complaint, please contact us by e‑mail at gre8.in@gmail.com</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End privacy policy section -->

  <!-- Start feature section -->
 <section class="feature__section section--padding pt-0">
      <div class="container">
          <div class="feature__inner d-flex justify-content-between">
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon">
                      <img src="assets/img/other/feature1.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">Free Shipping</h2>
                      <p class="feature__content--desc">Free shipping over $100</p>
                  </div>
              </div>
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon ">
                      <img src="assets/img/other/feature2.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">Support 24/7</h2>
                      <p class="feature__content--desc">Contact us 24 hours a day</p>
                  </div>
              </div>
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon">
                      <img src="assets/img/other/feature3.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">100% Money Back</h2>
                      <p class="feature__content--desc">You have 30 days to Return</p>
                  </div>
              </div>
              <div class="feature__items d-flex align-items-center">
                  <div class="feature__icon">
                      <img src="assets/img/other/feature4.webp" alt="img">
                  </div>
                  <div class="feature__content">
                      <h2 class="feature__content--title h3">Payment Secure</h2>
                      <p class="feature__content--desc">We ensure secure payment</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End feature section -->

</main>
