img {
  display: inline-block;
}

.products-search-item {
  margin: 15px auto;
}

.products-search-image {
  vertical-align: middle;
  margin-right: 6px;
}

.products-search-list {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  padding: 0 32px;
  border-top: 8px solid transparent;
  width: auto;
  max-height: 55vh;
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  background-color: #fff
}

.products-search-list::-webkit-scrollbar {
  width: 6px;
}

.products-search-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.products-search-list::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

/* Handle on hover */
.products-search-list::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.form-control {
  z-index: 999
}

.products-search-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #0606063f;
  z-index: 9;
}

li {
  list-style: none;
}

.search-ul {
  text-align: initial;
}

.predictive__search--form {
  z-index: 1000;
}

.d-icon-ball2 {
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

