.shipping {
  background-color: var(--secondary-color);
}

.product__section {
  padding-top: 0;
}

.shop__collection--section {
  padding-bottom: 0;
}

.feature__content--title.h3 {
  color: var(--text-white-color)
}

@media(min-width: 990px) {
  .mobile-only {
    display: none;
  }
}

@media(max-width: 991px) {
  .shop__collection--img {
    max-width: 80%;
    margin-left: 10px
  }

  .desktop-only {
    display: none;
  }
}

