<main class="main__content_wrapper">
  <!-- Start breadcrumb section -->
  <div class="breadcrumb__section breadcrumb__bg">
      <div class="container">
          <div class="row row-cols-1">
              <div class="col">
                  <div class="breadcrumb__content text-center">
                      <ul class="breadcrumb__content--menu d-flex justify-content-center">
                          <li class="breadcrumb__content--menu__items"><a routerLink="/">Home</a></li>
                          <li class="breadcrumb__content--menu__items"><span>Contact Us</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End breadcrumb section -->

  <!-- Start privacy policy section -->
  <div class="privacy__policy--section section--padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="privacy__policy--content">
                      <h2 class="privacy__policy--content__title">Who we are</h2>
                      <p class="privacy__policy--content__desc">Our email address is: <a href="mailto:gre8.in@gmail.com">gre8.in@gmail.com</a></p>
                  </div>
                  <div class="privacy__policy--content section_2">
                      <h2 class="privacy__policy--content__title">You may contact us using the information below</h2>
                      <p class="privacy__policy--content__desc">Merchant Legal entity name: LALHMANGAIHI PARTE <br>
                        Registered Address: Mahipalpur gali number 6 house number 04 k block South West Delhi DELHI 110037 <br>
                        Telephone No: 6304476247 <br>
                        E-Mail ID: gre8.in@gmail.com
                        </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End privacy policy section -->

</main>
